/* No CSS here. It is all located in the CSS provided in the HTML link source. */
.card {
  margin: auto;
}

.menu {
  flex: 1;
}

.main-content {
  flex: 7;
}

#title-emphasis {
  font-family: bradly hand, cursive;

}