* {
  /* --bs-body-color: #30fdcf; */
  /* --bs-body-bg: #847b7bb9; */
  /* --bs-primary: #48E5C2; */
  /* --bs-secondary-bg: #4d4d4d; */
  /* --bs-button-primary: #30fdcf; */
  --bs-emphasis-color: #2cefb4;
  --bs-body-bg: #03001C;
  --bs-secondary-bg: #301E67; 
  --bs-body-color: white;
  --border-color: white;
  /* #2C5E1A green - secondary bg */
  /* #1A4314 forest green - bg */
  /* #107869 teal */

}
body {
  height: 100%;
}
.footer {
  min-width: 250;
  border-top: 1px solid var(--border-color)
}

.header {
  min-width: 250;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.hamburger-header {
  display: none;
}
.hamburger-complete {
  display: none;
}
.hamburger-part {
  display: flex;
  flex-direction: column;
}

.scroll-box {
  overflow: auto;
}

.previous-message {
  background-color: var(--bs-secondary-bg);
  border: 1px solid var(--bs-primary-text);
  padding: 0;
  margin: 5px;

  display: flex;

}

.msg-in {
  justify-content: unset;
}

.save-file {
  justify-self: right;
}

.invisible {
  /* display: none; */
  color: var(--bs-body-bg)
}

.msg-out {
  justify-content: flex-end;
}

.generic-nav {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.header-nav {
  margin: 0;
  padding: 0;
}

.generic-nav.col {
  margin: 0;
  padding: 0;
}

.save-file {
  float: unset;
}

.main-content-main {
  padding: 1em;
}
.nav-list-row {
  display: grid;
}

.label {
  border-bottom: 1px solid var(--border-color)
}

.card {
  margin: 0;
  width:fit-content
}

.card-body {
  background-color: var(--bs-body-bg);
  border: 2px solid var(--bs-body-bg);
  margin: none;
}

.card-row {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
}

.card-row div {
  margin: 2px;
  border: none;
}

.card svg {
  width: 200px;
  background-color: var(--bs-body-bg);
  border: none;
}

.page-body {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.pricing-message {
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

.menu {
  flex: 1;
  border-right: 1px solid var(--border-color);
  
}

.main-content {
  flex: 7;
}

.message-bar {
  flex: 1;
  border-left: 1px solid var(--border-color);
}

/* TODO: THIS RIGHT HERE IS A HACK TO SHOW THE MESSAGE BAR GET BIGGER */
.message-bar:active {
  flex: 10;
}

.dropdown-menu {
  background-color: var(--bs-secondary-bg);
}

.dropdown-item {
  color: var(--bs-body-color);
}



#title-emphasis {
  font-family: bradly hand, cursive;
  color: var(--bs-emphasis-color);
}

.nav-link, a {
  color: var(--bs-primary-text);
}

.active {
  color: var(--bs-emphasis-color);
}

.breadcrumb-item.active {
  color: var(--bs-emphasis-color)
}


#sign-in-menu {
  flex-direction: unset;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* border: thin white solid; */
  /* background-color: var(--bs-secondary-bg); */
  /* color : black; */
}

.svg-folder {
  fill: #e7c9a9;
}

.svg-file {
  fill: lightgray;
}
.card-file polygon:nth-child(1){
  fill: gray;
}

.sign-in {
  max-width: 500px;
  min-width: 500px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0;
}

.sign-in-form {
  background-color: var(--bs-secondary-bg);
  text-align: start;
  margin: 0;
  padding-bottom: 10px;
}

#login-page-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  size: 100%;
}


/* .sign-in-form.row.col {
  padding: 0px;
} */
/* .empty-box-third {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 100vw;
  padding-right: 100vw;

} */

@media (max-width: 770px) {
  .header {
    flex-direction: column;
  }
  .menu {
    display: none;
  }
  .message-bar {
    display: none;
  }
  .hamburger-header {
    display:flex;
    flex-direction: column;
  }
  
}

@media (max-width: 300px) {
  .header {
    display: none;
  }
  .hamburger-complete {
    display: contents;
  }
  
}